
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>



@Html.ActionLink("Manage Vehicles", "Vehicles", "Admin")<br />
@Html.ActionLink("Manage Specials", "Specials", "Admin")<br />
@Html.ActionLink("Manage Models", "Models", "Admin")<br />
@Html.ActionLink("Manage Makes", "Makes", "Admin")<br />
@Html.ActionLink("Manage Users", "Users", "Admin")<br />

